#root {
  margin: 0 auto;
}

/* src/MarkdownEditor.css */
.container {
  display: flex;
}

textarea, #preview {
  width: 80%;
  height: 80vh;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

textarea {
  resize: none;
  font-size: 16px;
}

#preview {
  overflow-y: auto;
  line-height: 1.4;
}

.footer{
  background-color: #0062A3;
  color: white;
  position: fixed;
  width: 100vw;
  height: 35px;
  bottom: 0;
  font-size: 12px;
  padding-left:20px ;
  margin-left:-10px ;
}
